body {
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.header {
  height: 20px;
  background-color: #3E64FF;
  padding: 15px;
}
.headbutt {
  text-align: center;
  margin: 10px;
  color: #FFFFFF;
}
